@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(119.51deg, #8EC5FC 21.82%, rgba(224, 195, 252, 0.92) 81.94%);
  height: 100vh;
}

.linear-gradient-btn {
  background: linear-gradient(103.09deg, #21A1FD -8.33%, rgba(183, 33, 255, 0.41) 113.95%);
}

.link {
  position: relative;
  cursor: pointer;
}

.link::after {
  content: '';
  position: absolute;
  background: rgba(183, 33, 255, 0.41);
  bottom: 0;
  height: 0.19rem;
  width: 100%;
  left: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: t ransform 0.3s ease;
}

.link:hover::after{
  transform: scale(1, 1);
  /* transition: transform 0.3s ease; */
}