.linear-gradient {
    background: linear-gradient(119.51deg, #8EC5FC 21.82%, rgba(224, 195, 252, 0.92) 81.94%);
    height: 100%;
}

.fund-box {
    background-color: #FF3CAC;
    background-image: -webkit-linear-gradient(35deg, 0%, #784BA0 50%, #2B86C5 100%);
    background-image: -moz-linear-gradient(35deg, #784BA0 50%, #2B86C5 100%);
    background-image: -o-linear-gradient(35deg, #784BA0 50%, #2B86C5 100%);
    background-image: linear-gradient(35deg, #784BA0 50%, #2B86C5 100%);
}

.creator {
    background-color: #FF3CAC;
    background-image: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: -moz-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: -o-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}